.slider-section {
    height: 330px;
    background: rgb(253, 167, 200);

    .slick-slider {
      height: 100%;
      .slick-prev,
      .slick-next {
        &::before {
          color: hotpink;
        }
      }
      .slick-list {
        height: 100%;
        .slick-track {
          .slick-slide {
            .slide-image {
              margin: auto;
            }
          }
        }
      }
    }

  }

  @media only screen and (max-width:724px) {
    .slider-section {
      height: 200px;

      .slick-slider {

        .slick-list {
          height: 100%;
          .slick-track {
            .slick-slide {
              .slider-content {
                  height: 200px;
                .slide-image {
                    margin: auto;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                  }
              }

            }
          }
        }
      }
  
    }
}
